
<ul class="social_footer">

  
  <li class="lili">
    <img src="/iwys/assets/img/miniQRcode.png" class="wechat"> <br>
    <div id="socialsologn1">
      <a style="color: white;margin-top: 2%;" >微信小程序</a>
    </div>
    
  </li>
  <li></li>
  <li class="lili">
    <img src="/iwys/assets/img/wxQRcode.png" class="wechat"> <br>
    <div id="socialsologn2">
      <a style="color: white;margin-top: 2%;" >微信公众号</a>
    </div>
    
    
  </li>
  <li></li>
  <li class="lili">
    <img src="/iwys/assets/img/shopQRcode.png" class="wechat"> <br>
    <div >
      <a style="color: white;margin-top: 2%;" id="socialsologn3">微信小商店</a>
    </div>
    
    
  </li>
</ul>