
<ul class="social_footer">

  
  <li class="lili">
    <img src="/iwys/assets/img/miniQRcode.png" class="wechat"> <br>
    <a style="color: white;margin-top: 2%;" id="socialsologn">微信小程序</a>
  </li>
  <li></li>
  <li class="lili">
    <img src="/iwys/assets/img/wxQRcode.png" class="wechat"> <br>
    <a style="color: white;margin-top: 2%;" id="socialsologn">微信公众号</a>
    
  </li>
  <li></li>
  <li class="lili">
    <img src="/iwys/assets/img/shopQRcode.png" class="wechat"> <br>
    <a style="color: white;margin-top: 2%;" id="socialsologn">微信小商店</a>
    
  </li>
</ul>