---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      
        <div class="post_image" id = "img">
          <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
        </div>


      <div class="post_description">
        <h1 class="post_title">{{page.title}} | {{page.brif}}</h1>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
    </div>
    
  </article> <!-- End Section Post -->

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}总代理{% endif %}</h2>
        <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}予力每一个伙伴，不断突破行业创新边界.{% endif %}</p>
        <div class="author_social">
          
          {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% else %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="">(496)-169-6557</a></span>
          {% endif %}

          {% if site.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="#" target="_blank">{{site.website}}</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="https://mp.weixin.qq.com/s/s3cvvGLa5fIj8Trj0gGP0Q" target="_blank">微信小程序：袜元素商店</a></span>
          {% endif %}            
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">-更多产品-</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            {% if post.img %}
              <a href="{{ post.url | prepend: site.baseurl }}"
                class="recent_item"
                style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} );">
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}"
                  class="recent_item"
                  style="background-image: url( {{post.link}});">
              {% endif %}
              <span style="background-color: rgba(38, 38, 38, 0.5);font-weight: bolder;">{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
